:root {
  --soda-white: #ffffff;
  --soda-black-text: #000000;

  --soda--primary: #40b883;
  --soda-footer: #58595b;
  --soda-warning: #e2b93b;
  --soda-info: #2f80ed;
  --soda-success: #27ae60;
  --soda-error: #eb5757;
  --soda--primary-02: #a0dcc1;
  --soda--primary-03: #025f4c;
  --section-gap: 160px;
  --soda-grey-1: #828282;
  --soda-grey-2: #e0e0e0;
  --soda-grey-3: #bdbdbd;
  --soda-grey-4: #f2f4f8;
  --soda-icon-info: #008bf7;
  --background: #ffffff;
  --foreground: #171717;
}
